<h1>Bem vindo ao sistema Consulta Sim</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>
  <%= link_to "Clique Aba Paciente", pacientes_path %>
  <%= link_to "Clique Aba Medicos", medicos_path %>
  <%= link_to "Clique Aba Consultas", consulta_path %>
</p>